

// Basics

$white: #fff;
$black: #000;
$mild_black: #333;
$grey: #ddd;
$light_grey: #FBF8F6;

// Primary and Secondary colors

$primary_color : #1900C0;
$secondary_color : #f29111;
$pink_color : #DB2E9A;
$yellow: #F7BF21;

// Mobile Menu Background color

$mobile_bg_menu : #1900C0;
$submit_btn_bg: #110274;
